<div aria-labelledby="myModalLabel" class="modal fade" id="model-window" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>