<div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-999">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		
	</div>
	<div class="modal-body">
		 <%= render '/food_items/form' %> 
 	</div>
 	<div class="modal-footer"></div> </div> </div> 
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").attr("style", "");
	});
</script>