<!-- <h1>All Restaurants</h1> -->
<%#= render @restaurants %>
    <title>Restaurant</title>  
      <!-- Start top-dish Area -->
      <section class="top-dish-area" id="dish">
        <div class="container">     
          <div class="row">
            <div class="single-dish col-lg-4">
              <% @restaurants.each do |restaurant| %>
              <%= link_to restaurant_path(restaurant) do%>
              <div class="thumb">
                <%= image_tag asset_path("d1.jpg"),class: "img-fluid"  %>
              </div>
              <h4 class="text-uppercase pt-20 pb-20">Bread Fruit Cheese Sandwich</h4>
              <%end%>
            </div>
            <%end%>
            <!-- <div class="single-dish col-lg-4">
              <div class="thumb">
                <img class="img-fluid"  src="img/d2.jpg" alt="">
              </div>
              <h4 class="text-uppercase pt-20 pb-20">Beef Cutlet with Spring Onion</h4>
              
            </div>
            <div class="single-dish col-lg-4">
              <div class="thumb">
                <img class="img-fluid"  src="img/d3.jpg" alt="">
              </div>
              <h4 class="text-uppercase pt-20 pb-20">Meat with sauce & Vegetables</h4>
             -->  
            </div>                        
          </div>
        </div>  
      </section>
      <!-- End top-dish Area -->
      
           

      <!-- start footer Area -->    
      <footer class="main-block dark-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>Copyright &copy; 2018 Listing. All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <ul>
                <li><a href="#"><span class="ti-facebook"></span></a></li>
                <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                <li><a href="#"><span class="ti-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
