/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_self
 *= require animate.min
 *= require bootstrap-theme.min
 *= require bootstrap.min
 *= require chosen.min
 *= require dataslider
 *= require magnific-popup
 *= require normalize
 *= require owl.carousel.min
 *= require prettyPhoto
 *= require responsive.css
 *= require style
 *= require themify-icons
 */
  
    <style type="text/css">
        .md-button,
        .ls-card-form .submit-button {
            background-color:rgb(52, 169, 148);
        }
        
        .md-button:hover,
        .ls-card-form .submit-button:hover {
            background-color:#2d8e7d;
        }
        
        .top-cart-price{
            color:rgb(52, 169, 148);
        }
        
        .total-buble{
            background-color:rgb(52, 169, 148);
        }

        a:hover{
            color:rgb(52, 169, 148);
        }
        .section-footer:before{
            background-color:rgb(52, 169, 148);
        }
        header:after{
            background-color:rgb(52, 169, 148);
        }
        .section-aboutus-page .members-holder .member-item .position, .section-stats .stat-item .value, .content-holder.about-us p a{
            color:rgb(52, 169, 148);
        }
        .content-holder.about-us p a{
            border-bottom:1px solid rgb(52, 169, 148);
        }
        .grid-list-buttons li.active i{
            color:rgb(52, 169, 148);
        }
        .address-column p a{
            color:rgb(52, 169, 148);
        }

        .product-item:hover .product-item {
            padding-bottom:0;
            height:460px;
        }

        .breadcrumb{
            border-bottom:solid rgb(52, 169, 148) 6px;
        }

        .single-product-info-holder .nav-area-holder .back a{
            color:rgb(52, 169, 148)5;
        }