<table>
<tr>
  <th>Status</th>
  <th>User</th>
  <th>Address</th>
</tr>
<% @home_deliveries.each do |home_delivery|%>
<tr>
  <td><%= home_delivery.status%></td>
  <td><%= home_delivery.master_order.user_id%></td>
  <td><%= home_delivery.address.addressline%></td>
  <td><%= link_to "assign to delivery boy",home_deliveries_delivery_boys_new_path(home_delivery: home_delivery) %></td>
  </tr>
<%end%>
</table>
