<div class="content clearfix">
  <div class="form-group clearfix formbackground">
    <%= form_for @master_order do |f|%>
      <%= f.label :status%>
      <%= f.select(:order_status, MasterOrder.order_statuses.keys.map {|status| [status.titleize,status]}) %>
      <%= f.submit "edit status"%>
    <% end %>
  </div>
</div>
