<!DOCTYPE html>
<html>
  <head>
    <title>OnlineRestaturantManagement</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sticky-header">    
    <%= yield %>
  </body>

<script type="text/javascript">

    $(window).on("resize",function(){
        var owl = $("#news-feed").data("owlCarousel");
        owl.reinit();
    });
    $(document).ready(function(){
    $('.showpartials').click(function()
      { 
        $(".dashboard").hide();
      }
    );
  });

</script>

<!-- <script type="text/javascript">

    $(window).on("resize",function(){
        var owl = $("#news-feed").data("owlCarousel");
        owl.reinit();
    });

  $(".dashboard").show();
  $(".user-assign-role").hide();
  $(".delivery-boys-add").hide();
  $(".delivery-boys-manage").hide();
  $(".order-add").hide();
  $(".users-add").hide();
  $(".order-manage").hide();
  $(".users-manage").hide();
  $(".category-add").hide();
  $(".category-manage").hide();
  $(".restaurant-add").hide();
  $(".restaurant-manage").hide();
  $(".food-item-add").hide();
  $(".food-item-manage").hide();

  $(document).ready(function(){
    $('.users_add').click(function()
      {      
        $(".users-add").show();
        $(".user-assign-role").hide();
        $(".delivery-boys-add").hide();
        $(".dashboard").hide();
        $(".delivery-boys-manage").hide();
        $(".category-add").hide();
        $(".category-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
    $('.user_assign_role').click(function()
      {      
        $(".users-add").hide();
        $(".user-assign-role").show();
        $(".delivery-boys-add").hide();
        $(".dashboard").hide();
        $(".delivery-boys-manage").hide();
        $(".category-add").hide();
        $(".category-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
    $('.delivery_boys_add').click(function()
      {    
        $(".users-add").hide();
        $(".user-assign-role").hide();  
        $(".delivery-boys-add").show();
        $(".dashboard").hide();
        $(".delivery-boys-manage").hide();
        $(".category-add").hide();
        $(".category-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
    $('.users_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".users-manage").show();
        $(".user-assign-role").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
      }
    );
  });

  $(document).ready(function(){
    $('.delivery_boy_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".delivery-boys-manage").show();
        $(".user-assign-role").hide();
        $(".dashboard").hide();
        $(".delivery-boys-add").hide();
        $(".category-manage").hide();
        $(".category-add").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.category_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".category-manage").show();
        $(".user-assign-role").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.category_add').on('click',function()
      { 
        $(".users-add").hide();
        $(".category-manage").hide();
        $(".user-assign-role").hide();
        $(".dashboard").hide();
        $(".category-add").show();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.restaurant_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".restaurant-add").hide();
        $(".user-assign-role").hide();
        $(".restaurant-manage").show();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.restaurant_add').on('click',function()
      { 
        $(".users-add").hide();
        $(".restaurant-add").show();
        $(".user-assign-role").hide();
        $(".restaurant-manage").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.food_item_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".food-item-add").hide();
        $(".user-assign-role").hide();
        $(".food-item-manage").show();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.food_item_add').on('click',function()
      { 
        $(".users-add").hide();
        $(".food-item-add").show();
        $(".user-assign-role").hide();
        $(".food-item-manage").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".order-add").hide();
        $(".order-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.order_manage').on('click',function()
      { 
        $(".users-add").hide();
        $(".order-add").hide();
        $(".user-assign-role").hide();
        $(".order-manage").show();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

  $(document).ready(function(){
     $('.order_add').on('click',function()
      { 
        $(".users-add").hide();
        $(".order-add").show();
        $(".user-assign-role").hide();
        $(".order-manage").hide();
        $(".category-manage").hide();
        $(".dashboard").hide();
        $(".category-add").hide();
        $(".delivery-boys-manage").hide();
        $(".delivery-boys-manage").hide();
        $(".restaurant-add").hide();
        $(".restaurant-manage").hide();
        $(".food-item-add").hide();
        $(".food-item-manage").hide();
        $(".users-manage").hide();
      }
    );
  });

</script>
</html>
